body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: var(--bs-body-font-family) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

